@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
}

/* CODE BLOCK */
.codeblock1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    background: linear-gradient(123.77deg,
            #8a2be2 -6.46%,
            #ffa500 59.04%,
            #f8f8ff 124.53%);
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.codeblock2 {
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(118.19deg,
            #1fa2ff -3.62%,
            #12d8fa 50.44%,
            #a6ffcb 104.51%);
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
}

.code-border {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
    background: linear-gradient(111.93deg,
            rgba(14, 26, 45, 0.24) -1.4%,
            rgba(17, 30, 50, 0.38) 104.96%);
    /* backdrop-filter: blur(26px); */
}

.homepage_bg {
    background: url('./assets/Images/bghome.svg');
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #000814;
}

*::-webkit-scrollbar-thumb {
    background-color: #5a67d8;
    border-radius: 10px;
}


/* https://10015.io/tools/css-loader-generator */
.spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 9px solid #f1f2ff;
    animation: spinner-bulqg1 0.8s infinite linear alternate,
        spinner-oaa3wk 1.6s infinite linear;
}

@keyframes spinner-bulqg1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }

    12.5% {
        clip-path: polygon(50% 50%,
                0 0,
                50% 0%,
                100% 0%,
                100% 0%,
                100% 0%,
                100% 0%);
    }

    25% {
        clip-path: polygon(50% 50%,
                0 0,
                50% 0%,
                100% 0%,
                100% 100%,
                100% 100%,
                100% 100%);
    }

    50% {
        clip-path: polygon(50% 50%,
                0 0,
                50% 0%,
                100% 0%,
                100% 100%,
                50% 100%,
                0% 100%);
    }

    62.5% {
        clip-path: polygon(50% 50%,
                100% 0,
                100% 0%,
                100% 0%,
                100% 100%,
                50% 100%,
                0% 100%);
    }

    75% {
        clip-path: polygon(50% 50%,
                100% 100%,
                100% 100%,
                100% 100%,
                100% 100%,
                50% 100%,
                0% 100%);
    }

    100% {
        clip-path: polygon(50% 50%,
                50% 100%,
                50% 100%,
                50% 100%,
                50% 100%,
                50% 100%,
                0% 100%);
    }
}

@keyframes spinner-oaa3wk {
    0% {
        transform: scaleY(1) rotate(0deg);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg);
    }

    50% {
        transform: scaleY(-1) rotate(0deg);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg);
    }
}

.lable-style {
    @apply text-[16px] text-richblack-5;
}

.form-style {
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}

.section_heading {
    @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
}

/* For updating calender's icon in setting */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221080%22%20height%3D%221080%22%20viewBox%3D%220%200%201080%201080%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22transparent%22%2F%3E%3Cg%20transform%3D%22translate(540%20540)%22%2F%3E%3Cg%20transform%3D%22translate(540%20540)%22%2F%3E%3Cpath%20style%3D%22stroke%3A%23b8b6b6%3Bstroke-width%3A0%3Bstroke-dasharray%3Anone%3Bstroke-linecap%3Abutt%3Bstroke-dashoffset%3A0%3Bstroke-linejoin%3Amiter%3Bstroke-miterlimit%3A4%3Bfill%3A%23e5dede%3Bfill-rule%3Anonzero%3Bopacity%3A1%22%20transform%3D%22matrix(45%200%200%2045%206.18%2045)%22%20d%3D%22M19%203h-1V1h-2v2H8V1H6v2H5a2%202%200%200%200-2%202v14a2%202%200%200%200%202%202h5v-2H5V8h14v1h2V5a2%202%200%200%200-2-2m2.7%2010.35-1%201-2.05-2%201-1c.2-.21.54-.22.77%200l1.28%201.28c.19.2.19.52%200%20.72M12%2018.94l6.07-6.06%202.05%202L14.06%2021H12z%22%2F%3E%3C%2Fsvg%3E');
    width: 14px;
    width: 24px;
    height: 24px;
    top: -1px;
}

/* Side bar CSS */
sidebar {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

/* Remove the incrementer/decrementer symbol in input[type="number"] */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Remove scroll bar in rating and review slider */
@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* ADMIN PANNEL */
.bgImage {
    background-image: url(../src/assets/Images/no_data.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 37%;
    margin: 0 auto;
    background-blend-mode: overlay;
    background-blend-mode: soft-light;
}

.heading {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
}

.body-1 {
    @apply text-[0.875rem] leading-[1.5rem] md:text-[1rem] md:leading-[1.75rem] lg:text-[1.25rem] lg:leading-8;
}